

<div class="containers">
    <p class="title">
        <span id="intro">Welcome to Green Cottage Restaurant</span> <br />
        Your destination for authentic flavors and warm hospitality in the heart of Addis Ababa! Discover a menu that celebrates Ethiopian culinary traditions, crafted with the freshest ingredients and served in a cozy, welcoming atmosphere. Whether it’s a casual meal or a special gathering, join us for an unforgettable dining experience where every dish brings you closer to the taste of Ethiopia.
    </p>

    <a asp-controller="Home" asp-action="Create" class="btn btn-outline-primary border form-control">Book A Table</a>
</div>


